body {
  background: #E5E5E5;
  font-family: 'Poppins', sans-serif;
}

body::before {
  content: '';
  width: 100%;
  height: 368px;
  background: black;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

}

.page {
  width: 736px;
  margin: auto;
}

header {
  width: 319px;
  margin-top: 80px;
}

header h1 {
  color: white;
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
}

header p {
  color: #42D3FF;
  font-size: 16px;
  line-height: 26px;
}

form {
  background: #FAFAFC;
  width: 736px;
  min-height: 740px;
  padding: 64px;
  margin-top: 42px;
}

fieldset {
  border: none;
}

fieldset legend {
  color: #32264D;
  font-family: 'Archivo', sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}